.app {
  height: 100vh;
  background: #f0da13;
}

.person {
  width: 570px;
  height: 400px;
  left: 135px;
  top: 288px;
  background: white;
  border-radius: 8px;

  justify-content: space-around;
}

.container {
  width: 560px;
  height: 280px;
  left: 18px;
  top: 86px;
  background: white;
  border-radius: 8px;
}

.divider {
  width: 5px;
  height: 5px;
  display: inline-block;
}

.dividers {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.dividerss {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.dividersss {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.warningbutton {
  background-color: "#success";
  fill: "#warning";
}

.greenbutton {
  background-color: "#success";
  color: "#green";
}
